@{
    ViewData["Title"] = "Instructions Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Frank's Website</h1>
    <ul class="mr-auto mt-3">
        <li class="mr-auto"><h5>If you haven't registered, please register using either google login or your email and password</h5></li>
        <li class="mr-auto"><h5>You can view all Users recipes in the db that are not private by isiting the All Recipe page</h5></li>
        <li class="mr-auto"><h5>You can view, create or delete all of your recipes on the My Recipe page</h5></li>
    </ul>
    
</div>
