@page
@model recipeDIY.Areas.Identity.Pages.AllRecipe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Welcome to All Recipe Page</p>
</div>
</body>
</html>