@page
@using recipeDIY.Models
@model recipeDIY.Areas.Identity.Pages.MyRecipe

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Recipes";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to your recipes page</h1>
        <p>Following are your recipes.</p>

        <div class="card mb-5 DisplayRecipe">
            <p>This is the div for seeing all of the current recipes</p>
        </div>

        <div class="card CreateRecipe">
            <div class="mt-5 ml-5 mr-5">
                <form method="post">
                    <h4>Add a new recipe</h4>
                    <hr/>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Content"></label>
                        <input asp-for="Input.Content" class="form-control"/>
                        <span asp-validation-for="Input.Content" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-3 mr-3">
                            <!-- checkbox for different stuff -->
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.IsPrivate" type="checkbox" value="true" name="private" id="checkPrivate">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Make Private
                                </label>
                            </div>

                            <!-- checkbox for different stuff -->
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.IsPremium" type="checkbox" value="true" name="premium" id="checkPremium">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Make Premium
                                </label>
                            </div>
                        </div>

                        <!-- Dropdown for category -->
                        <div class="form-group mr-3">
                           <select name="dropdown_category">
                               <option value="">Select a Category</option>
                               <option value="0">Any</option>
                               <option value="1">Breakfast</option>
                               <option value="2">Lunch</option>
                               <option value="3">Dinner</option>
                           </select>
                        </div>
                        
                        
                    </div>


                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>

    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to your recipes page</h1>
        <p>You are not signed In. Please Sign in or register to see this page's content.</p>
    </div>
}


<!--

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>-->