@page
@using recipeDIY.Models
@model recipeDIY.Areas.Identity.Pages.MyRecipe

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Recipes";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to your recipes page</h1>
        <h2 class="mt-5 mb-2">Your recipes.</h2>

        <div class="card mb-5 DisplayRecipe">
            <ul cl>
                @foreach (var myRecipe in Model.AllUserRecipes)
                {
                    <li class="mb-3 mt-3 mr-3">

                        <div class="card pt-4 pb-4">
                            
                                <h5 class="mr-auto">
                                    @myRecipe.RecipeName
                                </h5>
                               
                            <div class="card-body mr-auto">
                                @myRecipe.Content
                            </div>
                            <form id="remove" method="post" asp-page-handler="Remove">
                                <button type="submit" name="id" value="@myRecipe.Id" asp-page-handler="Remove" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                            </form>

                        </div>
                    </li>
                }
            </ul>
        </div>


        <h2 class="mt-5 mb-2">Add a new recipe</h2>
        <div class="card CreateRecipe">
            <div class="mt-5 ml-5 mr-5">
                <form method="post">
                    <!-- <hr/>
                    <div asp-validation-summary="All" class="text-danger"></div>-->

                    <div class="form-group">
                        <label asp-for="Input.RecipeName">Name of Recipe</label>
                        <input asp-for="Input.RecipeName" class="form-control"/>
                        <span asp-validation-for="Input.RecipeName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Input.Content">Instructions / Content</label>
                        <input asp-for="Input.Content" class="form-control"/>
                        <span asp-validation-for="Input.Content" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-3 mr-3">
                            <!-- checkbox for different stuff -->
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.IsPrivate" type="checkbox" value="true" name="private" id="checkPrivate">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Make Private
                                </label>
                            </div>

                            <!-- checkbox for different stuff -->
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.IsPremium" type="checkbox" value="true" name="premium" id="checkPremium">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Make Premium
                                </label>
                            </div>
                        </div>

                        <!-- Dropdown for category -->
                        <div class="form-group mr-3">
                            <select name="dropdown_category">
                                <option value="">Select a Category</option>
                                <option value="0">Any</option>
                                <option value="1">Breakfast</option>
                                <option value="2">Lunch</option>
                                <option value="3">Dinner</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-3">Register</button>
                </form>
            </div>
        </div>

    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to your recipes page</h1>
        <p>You are not signed In. Please Sign in or register to see this page's content.</p>
    </div>
}


<!--

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>-->